<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Barter</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
    font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
}
</style>
</head>
<body bgcolor="pink">
<div id="container">
        <div id="menu">
            {% block nav-global %}

                <!-- MENU -->
                <h3>Barter</h3>
                <a href="hello">Hello World</a>
                <a href="login">Log in</a>

            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>